body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(155, 167, 167);
}
h1, h2, h3 {
    color: maroon;
}
a {
    text-decoration: none;
    color: orangered;
}
ul {
    list-style-type: square;
}
img {
    width: 100%;
    display: block;
}
.frame {
    background-color: azure;
    max-width: 800px;
    margin: 50px 50px;
    padding: 10px 30px;
}
